<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.sg2l2.pizzou">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PizzouApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NovoProdutoActivity"></activity>
        <activity android:name=".CardapioDetailActivity" />
        <activity
            android:name=".ConfigActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".PromocaoActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity android:name=".TaxaEntregaActivity" />
        <activity
            android:name=".CardapioActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".MenuActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>